<html>
  <head>
    <title>Prueba</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div id="game-canvas" class="grid">
      for row, x in level1
        for item, y in row
          div(class=item id=item + '_' + x + '_' + y)
    </div>
    <script src="dist/bundle.js"></script>
  </body>
</html>