<html>
  <head>
    <title>Prueba</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div id="game-canvas" class="grid">
      for row in level1
        for item in row
          div(class=item)
    </div>
    <div class="p" id="player"></div>
    <script src="dist/bundle.js"></script>
  </body>
</html>