doctype html
html(lang="en")
  head
    title Prueba
    link(rel="stylesheet" href="styles/style.css")
  body
    div(id="game-canvas" class="grid")
      for row, x in level1
        for item, y in row
          div(class=item id=item + '_' + x + '_' + y)
    script(src="dist/bundle.js")